BODY { font-family: monospace; margin: 0; }

a {
	color: black;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
	font-weight: bold;
}

input[type="checkbox"] {
	cursor: pointer;
}

h1 { font-size: 18px; }
h2 { font-size: 16px; }
h3 { font-size: 15px; }
h4 { font-size: 14px; }

header select {
	position: relative;
	vertical-align: top;
	margin-top: 5px;
	margin-left: 15px;
}

header .header-links {
	float: right;
	font-size: 1.1em;
	margin-top: 0.1em;
	margin-right: 0.5em;
	color: white;
	margin-top:5px;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline-block;
}



nav ul li {
	float: left;
}

.tabs-root{
	margin: 10px 0;
}

.tabs-nav-container {
	padding-top: 1em;
}

button:hover {
	cursor: pointer;
}

.dialog-window-title-bar {
	display: inline-block;
	width: 100%
}

.btn-leave-perpendicular {
	float: right;
	font-size: 22px;
    line-height: 20px;
    z-index: 100;
    position: relative;
    border: none;
    background: none;
}

.dialogs-container {
	position: relative;
}

.perpendicular-dialog-message-exists {
	font-weight: bold;
}

.perpendicular-dialog-message-not-exists {
	font-weight: normal;
}

.defeated-contradiction-row {
	border: dashed #666666 1px;
	padding: 0.5em;
	background-color: white;
	margin-top: 1em;
}

.suggested-contradiction-row {
	border: solid #666666 1px;
	padding: 0.5em;
	background-color: white;
	margin-top: 1em;
}

.suggested-contradiction-row:HOVER {
	cursor: pointer;
	background-color: #EEE;
}

.suggested-contradictions-none {
	font-size: larger;
	font-weight: bold;
	margin-bottom: 2em;
}

.btn-restore-defeated-contradiction {
	float: right;
}

.highlight-cant-text {
	font-weight: bold;
}

.highlight-cuz-text {
	font-weight: bold;
}

.new-contradiction-wrapper {
	border: 1px solid #f3f3f3;
    background-color: #f1f1f1;
    padding: 0.5em 0.5em 0.5em;
}

.new-message-dialog, .edit-message-dialog, .contradiction-window {

	top: 0;
	left: 0;

	margin-bottom: 5em;

	z-index: 100;

	background-color: white;

	width: calc(100% - 2em);

	padding: 1em;
	border: 1px #ddd solid;

	position: absolute;

	border-radius: 5px;

	-webkit-box-shadow: 0px 0px 1500px 500px rgba(0,0,0,0.2); 
	-moz-box-shadow:    0px 0px 1500px 500px rgba(0,0,0,0.2);
	box-shadow:         0px 0px 1500px 500px rgba(0,0,0,0.2);
}

.new-message-dialog h2.respond-to-title, .edit-message-dialog h2.respond-to-title {
	margin-top: 2em;
}

.new-contradiction-cant {
	background-color: #F3F3F3;
	padding: 1em;
	word-break: break-all;
}

.new-message-responding-to-message{
	word-break: break-all;
}

.cant-text-highlight {
	background-color: white;
	border: 1px dotted #CCC;
	color: red;
}

.textarea-new-contradiction-cuz {
	width: calc(100% - 20px);
    border: none;
    padding: 10px;
    height: 4em;
}

.textarea-new-message, .textarea-edit-message {
	height: 15em;
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ddd;
}

.dialog-wrapper {
	position: relative;
}

.dialog-commands-wrapper {
	border: 1px solid #f3f3f3;
    background-color: #f1f1f1;
    padding: 0 0.5em 0.5em 0.5em;
}

/***
.trusting-dialog.dialog-navigation-wrapper, .trusting-dialog.dialog-commands-wrapper, .trusting-dialog.new-message-dialog, .trusting-dialog.edit-message-dialog {
	border: 1px solid #BBB;
	background-color: #F3F3F3;
}
***/

.dialog-window {

	position: absolute;
    top: 1.5em;
    /***transform: translateY(-50%);***/
    left: -0.9em;
    z-index: 100;
    background-color: white;
    border-radius: 5px;
    width: 99.6%;
    min-width: 200px;
    padding: 1em;
    position: absolute;
    -webkit-box-shadow: 1px 1px 100px 70px rgba(68,68,68,0.2);
    -moz-box-shadow: 1px 1px 100px 70px rgba(68,68,68,0.2);
    box-shadow: 1px 1px 100px 70px rgba(68,68,68,0.2);
}

/***
.dialog-window.skeptical-dialog {
	background-color: #D6D6D6;
	background: linear-gradient(to right, #CCC 0%, #EEE 7%, #EEE 93%, #CCC 100%);
}


.dialog-window.trusting-dialog {
	background-color: #FFF;
	background: linear-gradient(to right, #EEE 0%, #FFF 7%, #FFF 93%, #EEE 100%);
}
***/

@keyframes animate-dialog-window-close {
	from { opacity: 1; }
	to { top: 30px; opacity: 0; }
}
.dialog-window-animate-close {
	animation-name: animate-dialog-window-close;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes animate-dialog-message-next {
	from { left:0px; opacity: 1; }
	to { left: -100px; opacity: 0; }
}
.dialog-message-animate-next {
	animation-name: animate-dialog-message-next;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes animate-dialog-message-previous {
	from { left:0px; opacity: 1; }
	to { left: 100px; opacity: 0; }
}
.dialog-message-animate-previous {
	animation-name: animate-dialog-message-previous;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.dialog-message {
	padding: 1em;
	white-space: pre-wrap;
	background: rgba(200,200,200,.1);
}

.dialog-empty-message {
	margin-bottom: 1em;
}

.skeptical-dialog.dialog-message {

}
.trusting-dialog.dialog-message {

}

.dialog-level-unanswered.dialog-message {

}
.dialog-level-answered.dialog-message {

}

.dialog-level-contradicted.dialog-message {
	text-decoration: line-through;
}
.dialog-level-uncontradicted.dialog-message {

}

.dialog-level-shadow-contradiction.dialog-message {
	color: #999;
}

.btn-close-contradiction-window {
	float: right;
    background: no-repeat;
    border: none;
    font-size: 22px;
}

.link-search-result-row {
	padding: 0.5em;
	margin: 0 0.5em;
}

.link-search-result-row + .link-search-result-row {
	border-top: 1px solid #ddd;
}

.link-search-result-row:hover {
	background-color: #CCC;
	cursor: pointer;
}

.link-search-result-row-commands {
	display: none;
	margin-top: 1em;
}

.link-search-result-row-message-preview {
	width: 100%;
	overflow: auto;
	background: #fff;
	max-height: 200px;
	padding: 0.5em;
	box-sizing: border-box;
	white-space: pre-wrap;
}

.symbolic-link-search-results  {
	margin-top: 2em;
}

.link-warning-infinite-loop, .link-warning-sibling, .link-warning-exists {
	background-color: #DDD;
	color: #999;
}

.auto-complete-container {
	display: none;
	position: absolute;
	width: 90%;
	background-color: rgba(255, 255, 255, 0.9);
	border: 1px solid gray;
	padding: 0.5em;
	overflow: auto;
	max-height: 10em;
}

.auto-complete-row {
	padding: 1px;
}

.auto-complete-row:HOVER {
	background-color: rgba(255, 255, 255, 1);
	cursor: pointer;
	font-weight: bold;
	border: 1px dotted #999;
	padding: 0;
}

.auto-complete-row-container {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.auto-complete-title {
	font-weight: bold;
	text-decoration: underline;
	margin-bottom: 0.5em;
	font-style: italic;
}

.dialog-properties-wrapper {
	margin-top: 1em;
}

.dialog-properties-details, .contributions-properties-details {
	border-radius: 7px;
}

.dialog-properties-details label {
	font-weight: bold;
    color: #0e3273;
}

.dialog-properties-details ul, .contributions-properties-details ul{
	padding: 10px;
	list-style: none;
	margin: 0;
}

.dialog-properties-details ul li, .contributions-properties-details ul li{
	border-bottom: 1px solid #ddd;
	line-height: 27px;
    font-size: 14px;
}

.dialog-properties-details ul li:last-child {
  border: none;
}

.link-dialog-properties {
	font-size: smaller;
}

.link-is-contradicted {
	text-decoration: line-through;
}

.link-is-from-head {
	font-style: italic;
}

.link-is-not-from-head {
	font-size: smaller;
}

.dialog-window-status-bar {
	float: left;
    font-weight: bold;
    background-color: #f2f6ff;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding: 0.5em;
    border-radius: 0;
}
.dialog-base-status-bar {
	font-weight: bold;
	background-color: #DDD;
	padding-left: 0.5em;
	padding-right: 0.5em;
	border: 1px dotted #666;
	border-radius: 5px;
	margin-bottom: 2px;
	display: inline-block;
	display: none;
}

.contradicted-contribution-row {
	text-decoration: line-through;
}

.trust-ratio-container {
	font-size: 18px;
	margin-bottom: 1em;
}

.trust-ratio-label {
	font-weight: bold;
}

.not-exists-contribution-row {
	color: #BBB;
}

.my-contributions-table TH {
	background-color: #DDD;
	font-weight: bold;
}

.user-settings-container {
	position: relative;
	z-index: 8;
}

.user-setting-icon {
	top: 18px;
    position: relative;
    right: 10px;
    width: 20px;
}

.user-setting-icon:hover {
	cursor: pointer;
}

.user-settings-icon-hamburger-layer {
	width: 100%;
	background-color: white;
	height: 3px;
	margin-bottom: 3px;
}

.user-settings-menu {
    position: absolute;
    display: none;
    right: -10px;
    width: 250px;
    top: 60px;
    border: 0;
    background-color: white;
    color: black;
    box-shadow: 0 0 10px rgba(0,0,0,.10);
}

.user-setting-row {
	padding: 10px;
	border-bottom: 1px solid black;
	font-size: smaller;
}

.map-container {
	position: relative;
	margin: auto;
}

.map-row-spacer, .map-column-spacer {
	background-color: gray;
	position: absolute;
}

.map-row-spacer {
	background: linear-gradient(rgba(0,0,0,0) 30%, #DDD 40%, #DDD 60%, rgba(0,0,0,0) 61%);
	z-index: 2;
}

.map-column-spacer {
	background: linear-gradient(to right, rgba(0,0,0,0) 30%, #DDD 40%, #DDD 70%, rgba(0,0,0,0) 71%);
	z-index: 2;
}

.map-row-spacer.downstream-from-contradiction, .map-column-spacer.downstream-from-contradiction {
	opacity: 0.3
}

.map-row-message, .map-column-message {
	position: absolute;
	padding: 1px;
	border: 0px solid black;
	box-sizing: border-box;
	display: table;
	z-index: 3;
}
.map-row-message {
	color: black;
}
.map-column-message {
	color: white;
}

.map-column-message-inner-box, .map-row-message-inner-box {
	height: 100%;
	width: 100%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	box-sizing: border-box;
	font-size: 10px;
	border-radius: 50%;
}

.map-column-message-inner-box {
	background: #0e3273;
}
.map-row-message-inner-box {
	background: #0e3273;
}

.map-column-message-inner-box:hover {
	background-color: #3d81ff;
	cursor: pointer;
}
.map-row-message-inner-box:hover {
	background-color: #3d81ff;
	cursor: pointer;
}

.map-row-message-inner-box.contradicted {
	border: 1px dashed black;
} 

.map-column-message-inner-box.contradicted {
	border: 1px dashed white;
} 

.map-row-message.downstream-from-contradiction, .map-column-message.downstream-from-contradiction {
	opacity: 0.3;
} 

.map-row-pathway-indicator {
	background-color: white;
	position: absolute;
	border: 1px solid black;
	box-sizing: border-box;
	z-index: 4;
}

.is-selected {
	-webkit-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3); 
	-moz-box-shadow:    0px 0px 6px 3px rgba(0,0,0,0.3);
	box-shadow:         0px 0px 6px 3px rgba(0,0,0,0.3);
	background: #7acc96;
	border-color: white;
}

.map-row-pathway-indicator-spacer{
	/* Eliminate visible overlap between spacers and the ajacent pathway indicator. */
	z-index: 5;
}

.map-svg-container {
	position: absolute;
	top:0;
	left:0;
	z-index: 6;
	pointer-events: none;
}

.map-preview-pop-over {
	padding: 10px;
	border: none;
	background-color: #fff;
	display: none;
	z-index: 7;
	max-width: 450px;
	position: absolute;
	font-size: smaller;
	box-sizing: border-box;
	border-radius: 7px;

	-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.4); 
	-moz-box-shadow:    0px 0px 8px 0px rgba(0,0,0,0.4);
	box-shadow:         0px 0px 8px 0px rgba(0,0,0,0.4);
}
.map-preview-pop-over label {
	font-weight: bold;
}

.map-preview-message-container {
	width: 100%;
	border: 1px solid #eee;
	overflow: auto;
	max-height: 200px;
	padding: 1em;
	box-sizing: border-box;
	white-space: pre-wrap;
}
.map-form {
	text-align: right;
}

.map-links-checkbox-wrapper {
	margin-right: 3em;
}

.map-box-contains-search-term {
	animation: blink-background 1s infinite;
}

@keyframes blink-background {
	0%, 49% { background-color: black; }
	50%, 100% { background-color: white; }
}

.edit-message-disabled {
	color: #CCC;
}

.contradiction-part-label-you-cant {
	text-decoration: underline;
}

.contradiction-part-label-because {
	text-decoration: underline;
	margin-top: 1em;
}

@media screen and (max-width: 992px) {
	.map-container{
	    width: 90%;
    	margin: 10px 5%;
	}
	.map-links-checkbox-wrapper {
	    margin-right: 20px;
	}
	.tabs-root{
		padding: 0 5px;
	}
	.user-settings-menu {
	    position: fixed;
	    display: none;
	    right: 0px;
	    width: 100%;
	    top: 64px;
	    border: 0;
	    background-color: white;
	    color: black;
	    box-shadow: 0 0 10px rgba(0,0,0,.10);
	}
}
