<div class="share-wrapper">
	<a><i class="fab fa-facebook-square"></i></a>
	<a><i class="fab fa-twitter-square"></i></a>
	<a href="https://www.youtube.com/watch?v=SefUZ_nuF8g" target="_blank"><i class="fab fa-youtube-square"></i></a>
	<a href="mailto:questions@thoughtcot.net" target="_blank"><i class="fas fa-envelope-square"></i></a>
</div>