<div class="copy-wrapper">
	<svg xmlns="http://www.w3.org/2000/svg" width="120.8" height="20" viewBox="0 0 435 72">
		<% include logo %>
	</svg>
	<p class="inverted hidden-sm">THOUGHTCOT.NET &trade; 2019</p>
</div>
<nav>
	<% include ./../shared/share %>
</nav>
<span class="inverted sm-top-sm hidden-lg">THOUGHTCOT.NET &trade; 2019</span>

