/* Grid Module */

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  position: relative;
  width: 100%;
  margin-left: -.5em;
  margin-right: -.5em;
}

.flex-row{
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.col-xs-offset-1 {
    margin-left: 8.33333333%;
}

.col-xs-offset-point-five{
  margin-left: 4.16666665%;
}

.col-xs-offset-2 {
    margin-left: 16.66666667%;
}

.col-xs-offset-3 {
    margin-left: 25%;
}

.col-flex-1{
  flex-basis: 8.33333333%;
  max-width: 8.33333333%;
}

.col-flex-2 {
  flex-basis: 16.66666667%;
  max-width: 16.66666667%;
}

.col-flex-3 {
  flex-basis: 25%;
  max-width: 25%;
}

.col-flex-4 {
  flex-basis: 33.33333333%;
  max-width: 33.33333333%;
}

.col-flex-5 {
  flex-basis: 41.66666667%;
  max-width: 41.66666667%;
}

.col-flex-6 {
  flex-basis: 50%;
  max-width: 50%;
}

.col-flex-7 {
  flex-basis: 58.33333333%;
  max-width: 58.33333333%;
}

.col-flex-8{
  flex-basis: 66.66666667%;
  max-width: 66.66666667%;
}

.col-flex-9 {
  flex-basis: 75%;
  max-width: 75%;
}

.col-flex-10 {
  flex-basis: 83.33333333%;
  max-width: 83.33333333%;
}

.col-flex-11 {
  flex-basis: 91.66666667%;
  max-width: 91.66666667%;
}

.col-flex-12 {
  flex-basis: 100%;
  max-width: 100%;
}

.vertical-middle {
  align-items: center;
}

.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%;
}

.col-1-sm {
  width: 4.33%;
}

.col-2-sm {
  width: 12.66%;
}

.col-3-sm {
  width: 21%;
}

.col-4-sm {
  width: 29.33%;
}

.col-5-sm {
  width: 37.66%;
}

.col-6-sm {
  width: 46%;
}

.col-7-sm {
  width: 54.33%;
}

.col-8-sm {
  width: 62.66%;
}

.col-9-sm {
  width: 71%;
}

.col-10-sm {
  width: 79.33%;
}

.col-11-sm {
  width: 87.66%;
}

.col-12-sm {
  width: 96%;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}

.hidden-sm {
  display: none;
}

@media only screen and (min-width: 540px) {  /* 540px */
  .container {
    width: 90%;
  }
}

@media only screen and (min-width: 540px) and  (max-width: 992px) {  /* 540px */
  .container {
    max-width: 550px;
  }
}

@media only screen and (min-width: 992px) {  /* 992px */
  .col-1 {
    width: 4.33%;
  }

  .col-2 {
    width: 12.66%;
  }

  .col-3 {
    width: 21%;
  }

  .col-4 {
    width: 29.33%;
  }

  .col-5 {
    width: 37.66%;
  }

  .col-6 {
    width: 46%;
  }

  .col-7 {
    width: 54.33%;
  }

  .col-8 {
    width: 66.64%;
  }

  .col-9 {
    width: 71%;
  }

  .col-10 {
    width: 79.33%;
  }

  .col-11 {
    width: 87.66%;
  }

  .col-12 {
    width: 96%;
  }

  .row .col-offset-1 {
    margin-left: 10.33%;
  }

  .row .col-offset-2 {
    margin-left: 18.66%;
    margin-right: 0;
  }

}

@media only screen and (max-width: 992px) {
  [class^="col-flex-"] {
    flex-basis: 100%;
    max-width: 100%;
  }
  [class*="col-xs-offset"] {
    margin-left: 0;
  }
  .col-flex-sm-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .container {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  .row{
    margin: 0;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    width: 75%;
    max-width: 70rem;
  }
  .container .right-aligned{
    position: relative;
    right: -15%;
  }
  .container .right-aligned img{
    max-width: initial;
  }
  .hidden-sm {
    display: inline-block;
  }
}

@media only screen and (min-width: 1280px) {
  .container .right-aligned {
      position: relative;
      right: -12%;
  }
}

.hidden{
  display: none;
}