<div class="contact-form white-box">
	<form>
		<h3 class="sm-btm">Leave Us Your Comment</h3>
		<label>
			Name
			<input class="input-field text" type="text"  />
		</label>
		<label>
			Email
			<input class="input-field text" type="text"  />
		</label>
		<label>
			Leave Us Your Comment
			<textarea class="text-area"></textarea>
		</label>
		<input class="green-submit" type="submit" />
 	</form>
</div>