<section id="team" class="brand-section light-blue-gradient-flat-bck lg-top med-btm inverted">
	<div class="container">
		<div class="flex-row sm-top lg-btm ">
	    <div class="col-flex-2 col-xs-offset-1">
	    	<div class="team-box text-center-sm sm-btm-sm">
		    	<img src="/images/brian-piere.jpg" />
	    	</div>
	    </div>
	    <div class="col-flex-8 col-xs-offset-point-five">
	    	<div class="team-box">
		    	<h3 class="list-title">Brian Piere - CEO</h3>
		    	<ul class="icon-list checked">
		    		<li class="sm-btm-sm">
		    			Successful entrepreneurship experience.
		    			<ul>
		    				<li>Founded PrintsMadeEasy organically from garage in 2002, ranked #829 on the Inc. 5,000 list in 2007.</li>
		    				<li>Co-founded eIndia.com in 1998, raising $25M from Alta Partners and Sequoia.</li>
		    			</ul>
		    		</li>	
		    		<li class="sm-btm-sm">Principal software developer at Xavient Technologies, Intuit (Turbo Tax), Kaiser Permanente (CTO division), McGraw Hill (CTB), Data Recognition Corp, TigerText, and LearnWithOrion.com.</li>
		    		<li class="sm-btm-sm">Published in BecomingHuman.ai, ChatBotsLife., and HackersNoon. Artificial intelligence research ultimately led to formation of the Intelligence Protocol which forms the basis of Thought Cot’s communication platform.</li>
		    	</ul>
	    	</div>
	    </div>
	  </div>
		<div class="flex-row sm-top lg-btm sm-btm-sm">
	    <div class="col-flex-2 col-xs-offset-1">
	    	<div class="team-box text-center-sm sm-btm-sm">
		    	<img src="/images/martin-fernandez.jpg" />
	    	</div>
	    </div>
	    <div class="col-flex-8 col-xs-offset-point-five">
	    	<div class="team-box">
		    	<h3 class="list-title">Martin Fern&aacute;ndez - Web/DAPP Developer</h3>
		    	<ul class="icon-list checked">
		    		<li class="sm-btm-sm">
		    			Highly respected user interface expert and full-stack web developer in the Ed- Tech and Communication spaces. Posses critical skills for crafting elegant U.I.’s optimized for knowledge-transfer.
		    		</li>	
		    		<li class="sm-btm-sm">Senior developer at Veritas Prep, LearnWithOrion.com, Ring.com, Grupo Intercom, Deviget, Scale Options, Intercomgi and FiberCorp.</li>
		    	</ul>
	    	</div>
	    </div>
	  </div>
	</div>
</section>