<section class="brand-section light-gray-gradient-bck truth-by-default">
  <div class="container med-top">
  	<div class="row lg-btm">
		  <h2 class="lg-top sm-btm text-center dark-bordered-bottom">
	      Risen from a Philosophical Miracle
	    </h2>
	    <p class="sm-btm med-top">
	      Founder, Brian Piere, unlocked the key to intelligence while <a href="https://becominghuman.ai/the-key-to-artificial-intelligence-ad6ef528e8d0" target="_blank">researching its artificial counterpart</a> seven years ago. Priorities quickly shifted from building the world’s first self-learning chatbot to a framework that will let humans communicate in the most effective manner. The idea is bullet-proof because it was always meant to be.
	    </p>
	    <p class="sm-btm">
	    	The <a href="https://medium.com/@TheDreamWeaver/the-human-intelligence-protocol-interface-b58d72ed7c9f" target="_blank">Intelligence Protocol</a> can be oversimplified as a game of attrition based upon truth-by-default. All ideas begin with (<i class="fas fa-plus success"></i> single polarity) after choosing a side. Their outcome is decided through a contradiction process (<i class="fas fa-minus danger"></i> dual polarity <i class="fas fa-plus success"></i>). Whether in person, over email, or online, the methodology changes minds in an almost magical manner.
	    </p>
	    <p class="sm-btm">
	    	This miracle of modern thought was paired with an ideal use-case for a DAPP. The truth will no longer be confused, censored, or manipulated. Not-wrong thoughts are recycled forever, never lost to pagination.
	    </p>
	  </div>
	</div>
</section>