<section class="brand-section light-blue-gradient-bck xlg-btm">
	<div id="learn-more" class="container med-btm">
  	<div class="row med-top med-btm">
  		<h2 class="sm-btm sm-top text-center inverted bordered-bottom">
	      Market Oportunity
	    </h2>
	    <h4 class="sm-btm med-top text-center inverted ">
	      The US sees over $1B a day in search ad revenue (pay for placement). Thought Cot does directly compete with any product or service today. The idea is entirely novel, anticipating to gain traction through innovation.
	    </h4>
	  </div>
	  <div class="flex-row vertical-middle sm-btm text-center-sm">
	    <div class="col-flex-1 col-xs-offset-1 sm-btm-sm">
	    	<img class="sm-icon" src="/images/bank.svg" />
	    </div>
	    <div class="col-flex-8 col-xs-offset-point-five">
	    	<p class="inverted">The US sees over $1B a day in search ad revenue (pay for placement). Thought Cot does directly compete with any product or service today. The idea is entirely novel, anticipating to gain traction through innovation.</p>
	    </div>
	  </div>
	  <div class="flex-row vertical-middle sm-btm text-center-sm">
	    <div class="col-flex-1 col-xs-offset-1 sm-btm-sm med-top-sm">
	    	<img class="sm-icon" src="/images/idea.svg" />
	    </div>
	    <div class="col-flex-8 col-xs-offset-point-five">
	    	<p class="inverted">Thought Cot will be the first application that provides both profit and reputation to contributors who offer their skill and effort; a natural draw.</p>
	    </div>
	  </div>
	  <div class="flex-row vertical-middle med-btm text-center-sm">
	    <div class="col-flex-1 col-xs-offset-1 sm-btm-sm med-top-sm">
	    	<img class="sm-icon" src="/images/network.svg" />
	    </div>
	    <div class="col-flex-8 col-xs-offset-point-five">
	    	<p class="inverted">Organizations with deep pockets will have the opportunity to kick-start massive discussions over matters they believe strongly about.</p>
	    </div>
	  </div>
	  <div class="flex-row vertical-middle sm-btm text-center-sm">
	    <div class="col-flex-1 col-xs-offset-1 sm-btm-sm med-top-sm">
	    	<img class="sm-icon" src="/images/university.svg" />
	    </div>
	    <div class="col-flex-8 col-xs-offset-point-five">
	    	<p class="inverted">Universities, think tanks, and media may promote a new tool to continue their discussions in order to garner trust and/or validation.</p>
	    </div>
	  </div>
	  <div class="flex-row vertical-middle sm-btm text-center-sm">
	    <div class="col-flex-1 col-xs-offset-1 sm-btm-sm med-top-sm">
	    	<img class="sm-icon" src="/images/group.svg" />
	    </div>
	    <div class="col-flex-8 col-xs-offset-point-five">
	    	<p class="inverted">Opportunities will be opened to people who have lacked a voice until now. See <a href="https://hackernoon.com/a-friend-sent-me-a-proposed-proof-of-a-famous-unsolved-maths-problem-so-why-havent-i-read-it-446b006675c9" target="_blank">this article</a> from a math professor: <b>A friend sent me a proposed proof of a famous unsolved math problem — so why haven’t I read it?</b></p>
	    </div>
	  </div>
	</div>
	<div class="container">
  	<div class="row med-btm">
  		<h2 class="sm-btm sm-top text-center inverted bordered-bottom">
	      Which Problems Do We Solve?
	    </h2>
  		<div class="col-6">
			  <h3 class="med-top list-title inverted">
	      	Problems
	    	</h3>
		    <ul class="inverted icon-list problems">
		    	<li>No mechanism to determine who’s won an argument without involving <strong>votes/opinions</strong> and/or <strong>judges/authority</strong>.</li>
		    	<li>With the promise of <strong>trust</strong> that blockchain offers, there’s never been an effort to decentralize the <strong>truth</strong>.</li>
		    	<li>The same <strong>talking points are repeated</strong> hourly on the nightly news and rehashed countless times in forums without changing minds.</li>
		    	<li>There’s no economy allowing those with a complicated theses or bold ideas to attract <strong>detailed investigations</strong> from professionals.</li>
		    </ul>
			</div>
			<div class="col-6">
			  <h3 class="med-top list-title inverted">
	      	Solutions
	    	</h3>
		    <ul class="inverted icon-list solutions">
		    	<li>StackExchange lets originators unilaterally pick “correct” answers.</li>
		    	<li>The TOR decentralizes information but lies are everywhere.</li>
		    	<li>Discussion forums require moderators to “mark as duplicate” without an ability to interlink thoughts between diverse subjects.</li>
		    	<li>Users of “free” discussion forums and frameworks only attract quick answers for easy questions (relative to the experts).</li>
		    </ul>
		  </div>
	  </div>
	</div>
	<div class="container">
		<div class="flex-row sm-top lg-btm">
	    <div class="col-flex-4 col-xs-offset-2">
	    	<div class="product-box text-center-sm">
		    	<legend class="legend left sm-btm-sm inverted">Build up your "Trust Factor" by winning arguments. A contradiction process forces people to focus on mistakes, not rights.</legend>
		    	<img class="" src="/images/thoughtcot-v4.png" />
	    	</div>
	    </div>
	    <div class="col-flex-4 col-xs-offset-point-five">
	    	<div class="product-box text-center-sm">
		    	<legend class="legend right inverted med-top-sm sm-btm-sm hidden-lg">Providers can pay for attention. Channels with suscribers may continue receiving traffic  for nothing but gas.</legend>
		    	<img class="" src="/images/thoughtcot-v3.png" />
	    		<legend class="right inverted hidden-sm">Providers can pay for attention. Channels with suscribers may continue receiving traffic  for nothing but gas.</legend>
	    	</div>
	    </div>
	  </div>
	</div>
	<div class="container">
  	<div class="flex-row sm-btm">
  		<h2 class="col-flex-12 sm-btm sm-top text-center inverted bordered-bottom">
	      Revenue Model
	    </h2>
  		<div class="col-flex-12 med-top">
			  <p class="inverted sm-btm">
					Submissions of every kind (i.e. beliefs, questions, and contradictions) will require “gas fees” to run on the Ethereum network. Users will have a “slider” where they may spend more tokens in order to entice miners to add records onto the blockchain sooner (being first has implications).
				</p>
				<p class="inverted sm-btm">
					Belief or question “providers” may amplify the visibility with tokens. If a statement is fought to be 70% right on average, only 30% of the bounty is owed.
				</p>
				<p class="inverted">
					Revenue is generated by:
					<ul>
						<li class="inverted">Collecting exactly 50% of a users choice to spend gas per entry. (ETH * 2).</li>
						<li class="inverted">Skimming 2% of any coins paid out as a bounty (we only skim movement).</li>
					</ul>
				</p>
			</div>
	  </div>
	</div>
	<div class="container lg-btm">
	  <div class="flex-row inverted flex-table-header">
	    <div class="col-flex-3 col-flex-sm-3">
	    	<p>Daily Transactions</p>
	    </div>
	    <div class="col-flex-3 col-flex-sm-3">
	    	<p>Avg. Gas Profit</p>
	    </div>
	    <div class="col-flex-3 col-flex-sm-3">
	    	<p>2% Bounty Tax</p>
	    </div>
	    <div class="col-flex-3 col-flex-sm-3">
	    	<p>Daily Revenue</p>
	    </div>
	  </div>
	  <div class="flex-row inverted flex-table-row">
	    <div class="col-flex-3 col-flex-sm-3">
	    	<p>10,000</p>
	    </div>
	    <div class="col-flex-3 col-flex-sm-3">
	    	<p>$0.10</p>
	    </div>
	    <div class="col-flex-3 col-flex-sm-3">
	    	<p>$10,000</p>
	    </div>
	    <div class="col-flex-3 col-flex-sm-3">
	    	<p>$11,000</p>
	    </div>
	  </div>
	  <div class="flex-row inverted flex-table-row">
	    <div class="col-flex-3 col-flex-sm-3">
	    	<p>100,000</p>
	    </div>
	    <div class="col-flex-3 col-flex-sm-3">
	    	<p>$0.15</p>
	    </div>
	    <div class="col-flex-3 col-flex-sm-3">
	    	<p>$100,000</p>
	    </div>
	    <div class="col-flex-3 col-flex-sm-3">
	    	<p>$115,000</p>
	    </div>
	  </div>
	  <div class="flex-row inverted flex-table-row">
	    <div class="col-flex-3 col-flex-sm-3">
	    	<p>500,000</p>
	    </div>
	    <div class="col-flex-3 col-flex-sm-3">
	    	<p>$0.17</p>
	    </div>
	    <div class="col-flex-3 col-flex-sm-3">
	    	<p>$500,000</p>
	    </div>
	    <div class="col-flex-3 col-flex-sm-3">
	    	<p>$585,000</p>
	    </div>
	  </div>
	</div>
	<div class="container">
  	<div class="flex-row sm-btm">
  		<h2 class="col-flex-12 sm-btm sm-top text-center inverted bordered-bottom">
	      Marketing & Growth Strategy
	    </h2>
  		<div class="col-flex-12 med-top">
				<p class="inverted">
					<ul>
						<li class="inverted">StackExchange and Reddit receive immense traffic from search engines. <strong>ThoughtCot.net</strong> will cache the state of the blockchain, a read-only UI mirroring the DAPP.</li>
						<li class="inverted">Users will be able to create <strong>channels</strong> of their own. Maybe to anonymously sort out personal problems, advance research, or launch a political career.</li>
						<li class="inverted">Offers of <strong>Decibel Coins</strong> will be <strong>air dropped</strong> on prominent/controversial people and early adopters. Producers bring followers.</li>
						<li class="inverted">Users will be encouraged to promulgate favorable outcomes as a vindication of their beliefs, thereby helping Thought Cot become a <strong>trust authority</strong>.</li>
						<li class="inverted">Other mediums such as <strong>podcasts and video</strong> can be decentralized and put to the same truth-test. Also, many small segments can be networked via protocol with intuitive navigation choices between them. Amazing possibilities await.</li>
						<li class="inverted"><strong>Keep people addicted</strong> through cross engagement. When trust compounds for users they could be brought into help others win a fight across subjects.</li>
					</ul>
				</p>
			</div>
	  </div>
	</div>
</section>