<section class="brand-section light-gray-gradient-bck sm-btm">
  <div id="about-us" class="container">
  	<div class="flex-row vertical-middle sm-btm">
	  	<h2 class="lg-top sm-btm text-center col-flex-12 dark-bordered-bottom">
	      About Us
	    </h2>    
  	</div>
  	<div class="flex-row vertical-middle sm-btm">
			<h3 class="sm-top med-btm text-center col-flex-12">
	      Give humanity a tool to rid itself of hypocrisy.<br /> A decentralized, tamper-proof, “information economy” that runs upon<br /> “mistake avoidance”.
	    </h3>
	    <div class="col-flex-3 col-xs-offset-1 hidden-lg sm-btm-sm text-center-sm">
	    	<img class="sm-icon" src="/images/student.svg" />
	    </div>
	    <div class="col-flex-8">
	    	We render definitive outcomes over important matters by means of unanimity. Intelligent dialogs are enforced when disagreements arise. Pushing the launch button for a moon-mission is not decided by votes or authority. A single valid contradiction is all that it takes to stop an intelligent endeavor (or another contradiction).
	    </div>
	    <div class="col-flex-3 col-xs-offset-1 hidden-sm ">
	    	<img class="sm-icon" src="/images/student.svg" />
	    </div>
	  </div>
	  <div class="flex-row vertical-middle">
	    <div class="col-flex-3 sm-btm-sm med-top-sm text-center-sm">
	    	<img class="sm-icon" src="/images/discussion.svg" />
	    </div>
	    <div class="col-flex-8 col-xs-offset-1">
	    	Members broadcasting important messages, or asking tough questions, amplify visibility by means of bounties using utility tokens called Decibels. A percentage of the bounty may paid out for failure (i.e. contradiction frequency).
	    </div>
	  </div>
	  <div class="flex-row vertical-middle">
	  	<div class="col-flex-3 col-xs-offset-1 hidden-lg sm-btm-sm med-top-sm text-center-sm">
  			<img class="sm-icon" src="/images/chat.svg" />
  		</div>
	    <div class="col-flex-8 ">
	    	Users are automatically assigned a global Trust Factor which indicates the likelihood that someone will offer knowledge remaining in a state of TRUE. Payouts are distributed proportionally according to trust which makes people think hard before submitting junk. Good thoughts are recycled (symbolically linked) across separate subjects when similar context is encountered in an effort to raise armies in exchange for Compound Trust.
  		</div>
  		<div class="col-flex-3 col-xs-offset-1 hidden-sm">
  			<img  src="/images/chat.svg" />
  		</div>
	  </div>
	</div>
	<div id="our-vision" class="container">
  	<div class="row med-top sm-btm">
			<h2 class="sm-top sm-btm text-center dark-bordered-bottom">
	      Our Vision
	    </h2>
	    <ul class="sm-btm sm-top inverted boxed-list text-center">
	    	<li><p>Big ideas with bounties are intelligently vetted in an intricate and structured manner with the power to evolve.</p></li>
	    	<li><p>People requiring help attract skill and effort with tokens.</p></li>
	    	<li><p>Users are paid for not-wrong contributions in proportion with their trust factor.</p></li>
	    	<li><p>Not-wrong thoughts are maximally recycled to form alliances, giving rise to "compound trust".</p></li>
	    	<li><p>Mistakes are inescapably exposed using an incredible language protocol, giving rise to a Bill of Wrongs.</p></li>
	    </ul>
	  </div>
	</div>
</section>